body{
    margin:0;
}

.text{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows:10% 45% 25% 20% ;
}
.text #one{
    grid-column: span 2;
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size:2vw;
    justify-content: flex-start;
    padding-left: 3vw;
}

.text .pro1{
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:2vw;
}
.first .text form{
    padding-left: 3vw;
}
.text #form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.text #form input{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(255, 115, 0);
    font-size: 1vw;
    border-radius: 4px;
    padding: 1vw 1vw;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(104, 126, 139, 0.493);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text #form button{
    display: flex;
    justify-content: center;
    color: white;
    display: flex;
    font-size: 1vw;
    padding: 0px 1vw;
    margin-left: 1vw;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(255, 115, 0);
    border-radius: 5px;
}
.text #pro{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:3.3vw;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.img{
    position: relative;
    top: 5%;
    grid-row: span 5;
    width:95%;
    height: 90%;
}
.first .text{
    justify-content: left;
}
.navi{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.centre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navi .centre ul a{
    align-items: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.5vw;
}
.navi .centre ul{
    display: flex;
    align-items: center;
}
.navi .centre ul li{
    display: flex;
    display: inline;
    padding-right:2.5vw;
} 
.navi .left{
    padding-left: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
.navi .left p{
    color:rgb(255, 153, 0) ;
    font-family: century gothic;
    font-size: 1.2vw;
}
.navi .right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4vw;
    font-size: 1.2vw;
    justify-content: right;
    gap: 1vw;
}
.navi .right .b1{
    color:rgb(255, 153, 0);
    background-color: rgba(177, 56, 56, 0);
    border-radius: 0.5vw;
    border-color:rgb(255, 153, 0);
    padding: 0.2vw 0.80vw;
    display: flex;  
    align-items: center;
}
.navi .right .b2{
    border-color:rgb(255, 115, 0) ;
    border-radius: 0.5vw;
    background-color:rgb(255, 115, 0);
    padding: 0.2vw 0.45vw; 
    display: flex;  
    align-items: center;
}
.right .b1 a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
}
 .right .b2 a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    border-radius: 1vw;
    text-decoration: none;
    font-size: 1.3vw;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.girl{
    width: 90%;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 1.6fr 1fr 1.3fr 1fr; 
    background-color: pink;
    border-radius:1.5vw;
    margin: 5%;
    padding: 2vw;
}
.girl .pic{
    grid-row: span 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.girl .pic img{
    width: 70%;
    height: 65%;
}
.write{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.write h2{
    font-family:'century gothic' ;
    font-size:4vw;
}
.qn{
    display: flex;
    justify-content: flex-start;
}
.qn p{
   
    width: 100%;
    
    font-size:3vw;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
}
.name h3{
    font-size: 3vw;
    font-family:lucia bright ;
    padding-left: 2%;
    margin: 0;
}
.name h4{
    padding-left: 4%;
    font-size: 2vw;
    font-family:lucia bright ;
    margin: 0;
}
.problem{
    width: 100%;
    display: flex;
}
.problem pre{
   
    font-size: 2vw;
    font-family:goudy old style ;
}
.button .b3 a{
    color: white;
    text-decoration: none;
    border-color: rgba(240, 248, 255, 0);
}
.button .b3{
    background-color:rgb(255, 115, 0)  ;
    border-color: rgba(240, 248, 255, 0);
    border-radius:0.5vw;
    padding: 1.5vw 3.2vw;
}
.second{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.country1,.country2,.country3{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 17px;
   text-align: left;
   flex-shrink: 1;
}
.clear {
    clear: both;
}

.our {
    display: flex;
    justify-content: center;
}
.our pre{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:4vw;
}
.our1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.our1 pre{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:4vw;
}
.last{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 3vw 0px 6vw;
}
.last .lastimg{
    display: flex;
    border: 2px ;
    border-color: rgba(240, 248, 255, 0);
    box-shadow: 2px 2px 5px 7px rgba(255, 115, 0, 0.300) ;
    border-radius: 10px;
    width: 25vw;
}
.button1 .b4 a{
    color: white;
    text-decoration: none;
    border-color: rgba(240, 248, 255, 0);
}
.button1 .b4{
    background-color:rgb(255, 115, 0)  ;
    border-color: rgba(240, 248, 255, 0);
    border-radius: 5px;
    padding: 1.5vw 3.2vw;
    margin-bottom: 3vw;
}
.button1{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width:415px){
    /* .left p{
        font-size: 10px;
        
    }
    .centre a{
        font-size: xx-small;
    } */
    /* #one{
        font-size: medium;
        padding-left: 24px ;
    }
    .text .img{
        width: 120px;
        height: 120px;
        margin-top: 10px;
        padding-left:10px;
        padding-top: 0px;
        float: none;
    } */
    .navi .centre ul a{
        font-size: 2.2vw;

    }
    .navi .left p{
        font-size: 2vw;
    }
    .navi .right .b1{
        padding: 0.2vw 0.9vw;
        border-radius: 0.6vw;
    }
    .navi .right .b2{
        padding: 0.2vw 0.9vw;
        border-radius: 0.6vw;
    }
    .right .b1 a{
        font-size: 1.8vw;
    }
    .right .b2 a{
        font-size:1.8vw;
    }
    .text #one{
        font-size: 2.5vw;
    }
    .text #pro{
        font-size: 3.4vw;
    }
    .text form {
        display: flex;
        justify-content: space-around;
        margin-left: 0px;
        align-items: center; 
        gap: 1vw;
    }
    .text #form button{
        padding: 0vw 1.1vw ;
        margin: 0px;
        width: 25%;
        height: 55%;
        font-size: 2vw;
        display: flex;
        align-items: center;
    }
    
    .text #form input{
        padding:1vw 0px;
        margin: 0px;
        width: 40%;
        height: 25%;
        font-size: 2vw;
    }
    /* .our pre{
        font-size: small;
        text-align: center;
    }
    .last .lastimg{
        margin: 3vw 0px;
    }
    .our1 pre{
        font-size: small;
        text-align: center;
    }   */
    .girl{
        display: flex;
        flex-direction: column;
        margin: 20px auto;
    }   
    .girl .pic{
        padding: 0px;
        margin: 0px;
        width: 200px;
        height: 200px;
        align-self: center;
    }  
    .girl .pic img{
        width: 90%;
        height: 90%;
    }
    .girl .write h2{
        position: relative;
        bottom: 15px;
        font-size: 30px;
        text-align: center;
        margin: 0px;
    }
    .girl .qn{
       justify-content: center; 
    }
    .write{
        align-items: center;
    }
    .girl .qn p{ 
        font-size: 3vw;
        padding-left: 19px;
        
    }
    .girl .problem pre{
        font-size: 2.5vw;
        padding-left: 4vw;
    }
    .girl .name h3{
        font-size: 3vw;
        text-align: center;
        margin: 0px;
    }
    .girl .name h4{
        font-size: 2vw;
        text-align: center;
        margin:4px 0px 10px 0px ;
    }
    .country1,.country2,.country3{
        display: flex;
        flex-direction: column;
    }
    .b3,.b4{
        margin: 2vw 0 4vw 0;
    }
}
